*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.spring{
  height: 200px;
  width: 100%;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}
.summer{
  height: 200px;
  width: 100%;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}
.autam{
  height: 200px;
  width: 100%;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}
.winter{
  height: 200px;
  width: 100%;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}